* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    font-size: 18px;
}
.navbar-nav {
    padding: 10px 10px;
    background-color: #EF9B9B;
    list-style-type: none;
    display: none;
}
.nav-link,
.navbar-brand {
    text-decoration: none;
    color: #707070;
}
.navbar-nav li {
    text-align: center;
    padding: 15px 0px;
}
.navbar-nav > li:first-child {
    border-top: 1px solid #8C8C8C;
}
.navbar-nav > li:last-child {
    border-bottom: 1px solid #8C8C8C;
}
.navbar-brand {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.navbar-nav-header {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: normal;
    color: #8C8C8C;
    background-color: #EF9B9B;
}
.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: #707070;
    font-size: 24px;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
@media (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .navbar-nav-header {
        display: none;
    }
    .navbar-nav {
        background-color: #FFFFFF;
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .navbar-nav li {
        margin: 0;
    }
    .navbar-nav > li:first-child {
        border-top: 0px;
    }
    .navbar-nav > li:last-child {
        border-bottom: 0px;
    }
    .nav-link {
        margin-left: 40px;
    }
    .navbar-brand {
        margin-top: 0;
    }
   .navbar-toggler {
       display: none;
    }
    .navbar-brand:hover,
    .nav-link:hover {
        color: #575757;
    }
}