* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    font-size: 18px;
}
.navbar-nav {
    padding: 9px 10px;
    background-color: #EF9B9B;
    list-style-type: none;
    display: none;
}
.nav-link,
.navbar-brand {
    text-decoration: none;
    color: #707070;
}
.navbar-nav li {
    text-align: center;
    padding: 15px 0px;
}
.navbar-nav > li:first-child {
    border-top: 1px solid #8C8C8C;
}
.navbar-nav > li:last-child {
    border-bottom: 1px solid #8C8C8C;
}
.navbar-brand {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.navbar-nav-header {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: normal;
    color: #8C8C8C;
    background-color: #EF9B9B;
}
.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: #707070;
    font-size: 24px;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
#banner-section {
    padding: 12px;
    background: #E57A6A;
    color: #707070;
    display: flex;
    flex-direction: column;
}
#banner-section a {
    color: #707070;
}
#banner-section h1 {
    font-weight: normal;
    font-size: 36px;
}
#banner-section div:nth-child(1) {
    flex: 1;
    text-align: center;
}
#banner-section div:nth-child(2) {
    flex: 1;
}
#banner-section div:nth-child(2) img {
    max-width: 330px;
}
#products-section h2 {
    font-weight: normal;
    font-size: 22px;
    color: #707070;
    text-align: center;
    margin: 10px 0px;
}
.products {
    border-top: 50px solid #EF9B9B;
    border-bottom: 50px solid #EF9B9B;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.product {
    flex-basis: 30%;
    border-radius: 4px;
    padding: 10px 0px 0px 0px;
}
.product-header {
    display: flex;
    padding: 0px 10px;
}
.product-header div {
    flex: 1;
}
.product:nth-of-type(odd) .product-header div:nth-child(1) {
    order: 1;
}
.product:nth-of-type(even) .product-header div:nth-child(1) {
    order: 2;
}
.product:nth-of-type(odd) .product-header div:nth-child(2) {
    order: 2;
    text-align: right;
}
.product:nth-of-type(even) .product-header div:nth-child(2) {
    order: 1;
    text-align: left;
}
.product-header div:nth-child(1) h5 {
    font-weight: normal;
    font-size: 24px;
    color: #707070;
    text-align: center;
}
.product-header div:nth-child(2) h5 {
    font-weight: normal;
    font-size: 20px;
    color: #A04B21;
    font-family: 'Shadows Into Light', cursive;
}
.product-details {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.product-image {
    flex: 1;
}
.product:nth-of-type(odd) .product-image {
    order: 1;
}
.product:nth-of-type(even) .product-image {
    order: 2;
}
.product:nth-of-type(odd) .product-description {
    order: 2;
}
.product:nth-of-type(even) .product-description {
    order: 1;
}
.product-image img {
    width: 100%;
    height: auto;
}
.product-description {
    flex: 1;
    font-size: 14px;
    color: #707070;
}
.product-description ul {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 20px;
}
.product-footer {
    display: flex;
    padding: 10px;
    background-color: #F7F7F7;
}
.product-price {
    text-align: center;
    flex: 1;
    font-size: 16px;
    color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-store {
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-store img {
    max-width: 119.94px;
    width: 70%;
}
.product-image .single {
    display: block;
}
.product-image .multiple {
    display: none;
}
#our-story-section {
    display: flex;
    color: #707070;
    padding: 20px 20px;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
#our-story-section h2 {
    font-size: 30px;
    border-bottom: 1px solid #EF9B9B;
    padding-bottom: 10px;
    text-align: center;
}
#our-story-section div {
    flex-basis: 44%;
}
#our-story {
    display: flex;
    flex-wrap: wrap;
}
#our-story h2 {
    order: -1;
    flex: 1 0 100%;
}
#our-story div:nth-child(2) {
    padding: 10px 0px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#our-story div:nth-child(2) img {
    max-width: 260px;
}
#our-story div:nth-child(3) {
    padding: 10px;
    flex: 1;
}
#health-benefits {
    display: flex;
    flex-wrap: wrap;
}
#health-benefits h2 {
    order: -1;
    flex: 1 0 100%;
}
#health-benefits div {
    padding: 10px;
}
#health-benefits ul {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 20px;
}
#health-benefits div:nth-child(2) {
    flex: 1;
}
#health-benefits div:nth-child(3) {
    flex: 1;
}
footer {
    color: #707070;
    background: #EF9B9B;
    text-align: center;
    font-size: 14px;
    padding: 20px;
}
footer a {
    text-decoration: none;
    color: #707070;
}
footer a:hover {
    color: #575757;
}
@media (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .navbar-nav-header {
        display: none;
    }
    .navbar-nav {
        background-color: #FFFFFF;
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .navbar-nav li {
        margin: 0;
    }
    .navbar-nav > li:first-child {
        border-top: 0px;
    }
    .navbar-nav > li:last-child {
        border-bottom: 0px;
    }
    .nav-link {
        margin-left: 40px;
    }
    .navbar-brand {
        margin-top: 0;
    }
    .navbar-toggler {
       display: none;
    }
    .navbar-brand:hover,
    .nav-link:hover {
        color: #575757;
    }
    #banner-section {
        flex-direction: row;
    }
    #products-section h2 {
        margin-left: 20px;
        text-align: left;
    }
    .products {
        flex-direction: row;
        padding: 20px 70px;
    }
    .product {
        -webkit-box-shadow: 0px 4px 25px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 25px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 25px -10px rgba(0,0,0,0.75);
    }
    .product:nth-of-type(odd) .product-header div:nth-child(1) {
        order: 1;
    }
    .product:nth-of-type(even) .product-header div:nth-child(1) {
        order: 2;
    }
    .product:nth-of-type(odd) .product-header div:nth-child(2) {
        order: 1;
        text-align: right;
    }
    .product:nth-of-type(even) .product-header div:nth-child(2) {
        order: 2;
        text-align: right;
    }
    .product:nth-of-type(odd) .product-image {
        order: 1;
    }
    .product:nth-of-type(even) .product-image {
        order: 2;
    }
    .product:nth-of-type(odd) .product-description {
        order: 1;
    }
    .product:nth-of-type(even) .product-description {
        order: 2;
    }
    .product-details {
        display: flex;
        flex-direction: column;
    }
    .product-image .single {
        display: none;
    }
    .product-image .multiple {
        display: block;
    }
    #our-story-section {
        flex-direction: row;
        padding: 20px 60px;
    }
    #our-story-section h2 {
        text-align: left;
    }
}